<div class="form-container">
    <form action="/addbooks" method="post">
        <h1>Book description</h1>
        <input type="text" name="name" placeholder="Enter the book name">
        <input type="number" name="pageqty">
        <input type="submit" value="ADD">
    </form>
</div>