<div class="form-container">
    <form action="/allbooks" method="post">
        <input type="text" name="name" placeholder="Enter the book title">
        <input type="number" name="pages">
        <input type="submit" value="Save">
    </form>
</div>