<div class="form-container">
    <h1>Add the informations about your book</h1>
    <form action="/addbooks" method="post">
        <input type="text" name="name" placeholder="Enter the book title">
        <input type="number" name="pages">
        <input type="submit" value="Save">
    </form>
</div>