<h1>All books in our store:</h1>
<p>Click in the books to see the description or edit something.</p>
{{#each books}}
<p><a href="/editbook/{{this.id}}">{{this.id}}- {{this.name}} - Pages quantity: {{this.pageqty}}</p></a>
{{/each}}
<a href="/">Click here to go back to home</a>