    <div class="form-container">
        <form action="/editbook/{{book.id}}" method="post">
            <h1>Edit book</h1>
            <input type="text" name="name" value="{{book.name}}">
            <input type="number" name="pageqty" value="{{book.pageqty}}">
            <input type="submit" value="ADD">
        </form>
        <form action="/deletebook/{{book.id}}" method="post">
            <input type="submit" value="Remove Book">
        </form>
        <a href="/">Click here to go back to home</a> 
    </div>